body {
    margin: 40px;
}

.container {    
    width: 960px;
    height: 960px;    
    display: grid;
    background-color: white;
    /* grid-template-columns: repeat(auto-fill, auto-fit);
    grid-template-rows: repeat(auto-fill, auto-fit);
    */
    grid-gap: 0px;
}

.grid-item {
    border-style: solid;
    border-color: black;
    border-width: thin;
}